// Microsoft Visual C++ generated resource script.
//

#include "resource1.h"

_BITMAP_ BINARY MOVEABLE PURE "C:\\Users\\xchim\\Documents\\Visual Studio 2022\\Projects\\PlugXComtesting\\EmbeddedFile\\testbinary.exe.comp_"